/* font-family: 'Roboto', sans-serif; */
.header{
    background-color: #117A25;
}


.header__titulo{
    font-family: 'Roboto', 'sans-serif';
    font-size: 16px;
    color: #F2F2F2;
    padding-top: 40px;
    padding-left: 10px;
}
@media(min-width: 650px){
    .header__titulo{
        padding-top: 60px;
        font-size: 18px;
    }
}
.header__subTitulo{
    font-family: 'Roboto', 'sans-serif';
    font-size: 24px;
    color: #F2F2F2;
    line-height: 50px;
    padding-bottom: 30px;
    padding-left: 45px;

}
@media(min-width: 650px){
    .header__subTitulo{
       padding-left: 10px;
       padding-bottom: 10px;
       font-size: 36px;
    }
}





/* MENU MOBIEL */
.check_box{
    display: none;
}

.barra__lateral{
    transition: all .2s linear;
    position: absolute;
    width: 100%;
    left: -100%;
    background-color: #00420C;
}
@media(min-width:650px){
    .barra__lateral{
        display: none;
    }
}

.header__label--menu{
    padding-right: 8px;
}
@media(min-width: 650px){
    .header__label--menu{
        display: none;
    }
}


.header__menu--item{
    display: flex;
    flex-direction: column;
    text-align: left;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', 'sans-serif';
    font-size: 18px;
    color: #F2F2F2;
    padding: 20px;
    border-bottom: solid 1px #f2f2f2c4;
    

}
.header__menu--item:hover{
    color: #00420C;
    background-color: #F2F2F2;
}





/*MENU DESKTOP */
.header__menu--desk{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;  
}
.header__menu--item-desk{ 
    
    text-decoration: none;
    font-family: 'Roboto', 'sans-serif';
    font-size: 16px;
    color: #F2F2F2;
    padding: 10px;
    padding-left: 10px;

   
}
.header__menu--item-desk:hover{
    color: #00420C;
    background-color: #F2F2F2;
    padding: 10px;
}


/* Media para IPAD PRO  */
@media(max-width: 1025px){
    .header__menu--item-desk{
        padding-left: 30px;
    }
}

@media(max-width:650px){
    .header__menu--item-desk{
        display: none;
    }
}