/* font-family: 'Roboto', sans-serif; */
.main__titulo{
    font-family: 'Roboto', 'sans-serif';
    font-size: 24px;
    color: #00420C;
    line-height: 28px;
    text-align: center;
    padding: 10px;
    padding-top: 40px;
    
}
@media(min-width: 650px){
    .main__titulo{
        text-align: left;;
        padding-top: 70px;
        padding-left: 10px;
    }
}

.main__paragrafo{
    display: block;
    font-family: 'Roboto', 'sans-serif';
    font-size: 16px;
    max-width: 330px;
    line-height: 25px;
    padding: 20px;
    text-align: justify;
}

@media(min-width: 650px){
    .main__paragrafo{
        max-width: 590px;
        padding-left: 10px;
        line-height: 30px;
        
        
    }
}

.ul__paragrafo{
    padding-left: 20px;
    font-family: 'Roboto', 'sans-serif';
    font-size: 16px;
    max-width: 330px;
    line-height: 25px;
    text-align: justify;
}
@media(min-width: 650px){
    .ul__paragrafo{
        padding-bottom: 60px;
        
    }
}
.main__paragrafo--conceito{
    
    background-color: #117A25;
    width: 313px;
    height: 159px;
    text-align: center;
    padding: 30px;
    color: #f2f2f2;
    font-family: 'Roboto', 'sans-serif';
    font-size: 22px;
    border-radius: 5px;
    

}

@media(min-width: 650px){
    .main__paragrafo--conceito{
        margin-top: 75px;
        margin-left: 10px;
    }
}
.main__paragrafo--nota{
    color: #f2f2f2;
    font-family: 'Roboto', 'sans-serif';
    font-size: 38px;
    font-weight: bold;
    padding-top: 30px;
}

.main__paragrafo--img{
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    align-items: center;
    border: 2px solid #00420C;
    border-radius: 5px;
    max-width: 100%;
}
@media(min-width: 650px){
    .main__paragrafo--img{
        margin: 0;
        margin-top: 30px;
        margin-left: 10px;
        
        
    }
}
.main__paragrafo--coordenador{
    font-size: 18px;
    padding-bottom: 20px;
}

@media(min-width: 650px){
    .main__paragrafo--coordenador{
        padding-top: 20px;
        
        
        
    }
}